/* -------------RESET------------- */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* -------------GLOBAL------------- */
body {
    font-family: "Vollkorn", Georgia, serif;
}

:root {
    --gradient-color: linear-gradient(135deg, #8844ee, #b07dfb);
    --side-color: #fafbfc;
    --light-purple: #b07dfb;
}

img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, .7);
}

.caracteristicas span {
    display: block;
}

/* -------------GRID GERAL------------- */
.container {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
        "header header header"
        "sidenav content aside"
        "footer footer footer"
}

/* -------------GRID CONTENT------------- */

/* HEADER */
.header {
    grid-area: header;
    background: var(--gradient-color);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 200px;
}

.nav-link {
    display: flex;
    flex-wrap: wrap;
}

.nav-link li a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 1.125em;
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    transition: 0.1s;
}

.nav-link li a:hover {
    background: rgba(0, 0, 0, .5);
}

.nav-link li + li {
    margin-left: 30px;
}

/* SIDENAV */
.sidenav {
    grid-area: sidenav;
    background: var(--side-color);
    padding: 30px;
}

.sidenav ul li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    padding: 20px;
    margin: 0 auto 30px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    transition: 0.1s ease-out;
}

.sidenav ul li a:hover {
    background: var(--light-purple);
}

/* CONTENT */
.content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.col-wide {
    grid-column: 1 / -1;
}

.imagem-1 {
    grid-row: span 2;
    align-self: end;
}

.imagem-2 {
    align-self: end;
}

.informacoes p + p{
    margin-top: 30px;
}

.title {
    color: var(--light-purple);
}

.title h1 {
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}

.title span {
    font-style: italic;
    font-size: 0.875em;
}

.caracteristicas {
    display: flex;
    align-items: flex-start;
}

.caracteristicas > div {
    width: 80px;
    text-align: center;
    background: var(--gradient-color);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    position: relative;
}

.caracteristicas > div:first-child {
    margin-right: 30px;
}

.numero {
    color: var(--light-purple);
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}

.rotulo {
    background: white;
    border-radius: 0 0 5px 5px;
    color: var(--light-purple);
    padding: 5px 0;
    position: relative;
    top: 2px;
}

.citacao, .atributos {
    background: var(--gradient-color);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.citacao p {
    color: white;
    font-style: italic;
    font-size: 1.5em ;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.atributos {
    align-self: start;
}

.atributos li {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125em;
    padding: 15px;
}

.atributos li + li {
    border-top: 2px solid var(--light-purple);
}

.destaque {
    font-size: 0.875em;
    color: var(--light-purple);
    max-width: 16rem;
}

/* ASIDE */
.aside {
    grid-area: aside;
    background: var(--side-color);
    display: grid;
    align-content: start;
    padding: 30px;
    gap: 30px;
}

.aside > div img {
    border-radius: 5px;
}

/*FOOTER */
.footer {
    grid-area: footer;
    background: var(--gradient-color); 
}

.footer p {
    text-align: center;
    color: white;
    padding: 30px;
}

/* -------------RESPONSIVO------------- */

@media (max-width: 1200px) {
    .container {
        grid-template-columns: minmax(160px, 1fr) 3fr;
        grid-template-areas: 
        "header header"
        "sidenav content"
        "sidenav aside"
        "footer footer";
    }

    .aside {
        display: flex;
    }
}

@media (max-width: 760px) {
    .header {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 30px;
        max-width: 250px ;
    }

    .nav-link li a{
        font-size: 1em;
    }

    .nav-link li + li {
        margin-left: 10px;
    }
    
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "sidenav"
        "content"
        "aside"
        "footer";
    }

    .sidenav {
        padding: 0 30px;
        overflow-x: auto;
        position: relative;
    }

    .sidenav::after {
        content: "→";
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0, 0, 0, .3);
        animation: seta 0.5s ease-in 0s infinite alternate;
    }

     .sidenav ul{
        display: flex;
    }

     .sidenav ul li a {
        margin: 30px 30px 30px 0px; 
    }    
}

@keyframes seta {
    0% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(30px);
    }
 }

 @media (max-width: 600px) {
    .content {
        grid-template-columns: auto;
    }
}